.add-category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(180deg, #FF7E3D, #FF9F81);
  color: #f9d6c7;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: auto; 
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.icon-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-shapes {
  width: 120px;
  height: auto;
  margin-bottom: 5px;
}

.recommended-section h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #f9d6c7;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.category-btn {
  background-color: #f56c3e;
  border: 2px solid #ffdcc5;
  border-radius: 15px; 
  color: #ffdcc5;
  padding: 5px 8px;
  font-size: 18px; 
  display: flex;
  align-items: center;
  gap: 5px; 
  cursor: pointer;
  width: 160px; 
  height: 70px; 
  box-sizing: border-box;
}

.category-btn .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
  line-height: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-btn {
  background-color: #c44b24;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  flex: 1;
 margin-left: 50px;
 margin-right: 70px;
 margin-bottom: 40px;
  text-align: center;
  max-width: 120px;
  height: 50px; 

}
