.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: 
  radial-gradient(circle at 30% 30%, rgba(255, 69, 0, 0.4), transparent 60%), 
  radial-gradient(circle at 70% 70%, rgba(139, 0, 0, 0.6), transparent 60%), 
  linear-gradient(120deg, rgba(139, 0, 0, 0.8), rgba(255, 69, 0, 0.7) 70%);
  overflow-y: auto; 
}

.signup-content {
  display: flex;
  align-items: center;
  padding: 20px; 
  max-width: 600px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  background-color: #d14b2e; 
  border-radius: 10px; 
}

.signup-container .logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.signup-container .logo {
  width: 100px;
  height: 90px;
}

.signup-container .form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 400px; 
  color: #f9d6c7;
}

.signup-container .form-container h2 {
  margin-bottom: 10px;
  color: #eed8d8;
  font-size: 36px; 
}

.signup-container .form-container h2 span {
  color: #feb49b;
  display: inline;
}

.signup-container .form-container p {
  margin-bottom: 20px;
  color: #f9d6c7;
  font-size: 18px; 
}

.signup-container .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff; 
  color: #000; 
}

.signup-container .form-control:focus {
  border-color: #f1907f;
  background-color: #d14b2e; 
  color: #fff; 
  outline: none;
}

.signup-container .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px; 
  color: #fff;
  background-color: #a72f0b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.signup-container .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px; 
}

.signup-container .google-btn {
  background-color: #fff;
  color: #757575;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signup-container .google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signup-container .or-text {
  margin: 0 10px;
  padding-left: 10px;
  color: #eed8d8;
}

.signup-container .arrow {
  margin-left: 10px;
  font-size: 16px; 
}

.terms {
  margin-top: 15px; 
  font-size: 12px;
  color: #666;
  text-align: center;
  display: inline;
}

.terms a {
  color: #007bff;
  text-decoration: none;
  display: inline;
  font-size: 14px;
}

.terms a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
